/target
/target/debug
/target/release
/app.exe
/output.cpp
/output.exe
**/*.rs.bk
**/*.py
**/*.txt
**/*.exe
**/*.cpp
**/*.o
**/*.a
**/*.so
**/*.dll
**/.DS_Store
**/.vscode
**/.idea
**/.vs
.json

# Ignore all files in the "build" directory
build/*
!build/build.rs
!build/main.rs
!build/Cargo.toml
Cargo.lock
*.log